body{
	text-align: left;

  
   background: linear-gradient(180deg, green, black);
}
#editar,#eliminar{
	width: 15px;
	margin: 10px auto;
	padding: 5px 5px 5px 5px;
	background: #42afaf;
	border: 1px solid #666666;
	border-radius: 5px;
}
#crear{
    width: 5px;
    margin: 5px auto;
    padding: 5px 5px 5px 5px;
    background: #b2c135;
    border: 1px solid #666666;
    border-radius: 5px;
}
#guardar{
    width: 50px;
    margin: 50px auto;
    padding: 40px 5px 5px 5px;
    background: #b2c135;
    border: 1px solid #666666;
    border-radius: 5px;
}
.clear{
	clear: both;
}
.guardar #submit{
    width: 50px;
    margin: 50px auto;
    padding: 40px 5px 5px 5px;
    background: #b2c135;
    border: 1px solid #666666;
    border-radius: 5px;
}

